@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Store App</h1>
</div>


<div class="text-center">
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="App" asp-action="Create">Create A New Account</a></button>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="App" asp-action="PreLogin">Login</a></button>
</div>