@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Checkout";
}

<div class="text-center">
    <h1 class="display-4">You have successfully checked out</h1>
</div>

<div>
    <a asp-controller="App" asp-action="MainMenu">Back to Main</a>
</div>
